body{
font-family: 'Roboto', sans-serif;
margin-left: auto;
margin-right: auto;
max-width: 1280px;
font-weight: 400;
}
/* title of page */
.heading-title {
padding-top: 65px;
}
.heading-link{
font-size: 80px;
line-height: 94px;
color: #000000;
}
.second-part-title {
color:#4BCAFF;
}
/* Navbar */
.header-navbar{
margin-top: 40px;
}
.navigation-menu {
display: flex;
flex-wrap: wrap;
background: #35444F;
justify-content: center;
align-items: center;

}
 .navigation-menu-item {
border-left: 1px solid #fff;
transition: 0.7s;
}

.navigation-menu-item>a{
display: inline-block;
padding:26px 38px 19px;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}

.navigation-menu-item:last-child{
border-right: 1px solid #fff;
}
.navigation-menu-item:hover{
background: #222F3A;
} 
/* info list*/
.about-info {
display: flex;
flex-wrap: nowrap;
margin-top:49px;
}
/* aside bar */
.info-nav {
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
width: 344px;
}

.info-link{
display: flex;
flex-grow: 1;
font-size: 27px;
line-height: 27px;
color: #485863;
transition: 0.7s;
padding: 26px 0px 30px 44px;
}

.info-link:hover{
color: #000000;
background: #DBDBDB;
padding-left: 66px;
}
/*main bar */
.main-info {
margin-left: 52px;
}
.img-wrapper {
display: flex;
justify-content: center;
align-items: center;
height: 529px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
}
.img-wrapper>img{
transition: 1s;
}
.img-wrapper>img:hover{
transform: scale(1.2);
}
.main-text-container{
margin-top:37px;
}
.main-text{
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}
.main-text:last-child{
margin-top: 34px;
}
/* footer */
.footer-navbar {
margin-top: 54px;
background: rgba(99, 105, 110, 0.48);
padding: 20px 0 20px 40px;
}

.footer-items{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.footer-item-text{
transition: 0.7s;
}
.footer-item-text:last-child{
margin-left:135px;
align-self:center;
font-size: 24px;
line-height: 24px;
color: #010101;
}
.footer-link{
font-size: 24px;
line-height: 24px;
color: #010101;
transition: 0.7s;
}

.footer-link:hover{
color: #3181A6;
border-bottom: 1px solid #3181A6;
padding-bottom: 13px;
}


